@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: rgb(3, 102, 133);
      --color-nav: #d4cfcfa1;
      --color-miboton: rgb(4, 133, 172);
      /* ... */
    }
    
  }

